.container {
    max-width: $website-width;
    height: 100%;
    padding: 0 1.5rem;
    margin:auto;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.py {
    &-1 {
        padding: 1rem 0;
    }
    &-2 {
        padding: 2rem 0;
    }
    &-3 {
        padding: 3rem 0;
    }
    &-4 {
        padding: 4rem 0;
    }
}


// Buttons
%btn-shared {
    display: inline-block;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: .5rem;
    transition: background-color linear .3s;
}

.btn {
    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: set-color($light-color);
    }
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
    background-color: $main-color;
    color: $light-color;
}


.section-title {
    font-size: 3.4rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 2rem;

    &::after {
        content: '';
        width: 5rem;
        height: .2rem;
        background-color: $main-color;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.section-lead {
    font-size: 1.8rem;
    margin-bottom: 4rem;
}