@import 'config';
@import 'utils';
@import 'functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: white;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}


// Logo
#logo {
    width: 7rem;
    height: 7rem;
}

// Nav
.nav-container {
    position: relative;
    width: 100%;
}
#main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    ul {
        display: flex;
    }

    li {
        margin: 0 1.5rem;
    }

    a {
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        display: inline-block;
        padding: 0.5rem 0.2rem;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: $medium-color;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform ease .2s;
        }

        &:not(current):hover::before {
            transform: scaleX(1);
        }



        &.current::before {
         transform: scaleX(1); 
         background-color: $main-color;  
        }
    }
}

// Header

#header {
    // Home header
    &-home {
        background: $bg-image no-repeat center right / cover;
        height: 100vh;
        color: white;

        // Header Content
        .header-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            h1 {
                font-size: 5rem;
                line-height: 1.2;
            }

            .lead {
                font-size: 2.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }

    
}


// Section A: Specialize
#home {
    &-a {
        .specials {
            display: flex;
            justify-content: space-between;
            column-gap: 2rem;

            i {
                font-size: 3rem;
                color: $main-color;
                margin-bottom: .5rem;
            }

            h3 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
    // Section b: stats
    &-b {
        .stats {
            display: flex;
            justify-content: space-between;

            &-item {
                flex: 1;
                padding: 2rem 1rem;
                

                i {
                    font-size: 3rem;
                    // margin-bottom: .5rem;
                }

                h4 {
                    font-size: 1.8rem;
                    font-weight: 500;
                    text-transform: none;
                    // margin-bottom: .5rem;
                }

                h3 {
                    font-size: 2.5rem;
                    font-weight: 600;
                    line-height: 1;
                }

                &:nth-child(even) {
                    background-color: $medium-color;
                }
                &:nth-child(odd) {
                    background-color: $light-color;
                }
            }
        }

    }

    // Home c: Process
    &-c {
        .process {
            display: flex;
            justify-content: space-between;
        }

        .icon {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            background-color: $dark-color;
            color: $light-color;
            margin: 0 auto 1rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: background-color linear .2s, color linear .2s;

            &::before {
                content: attr(data-count);
                display: block;
                width: 3rem;
                height: 3rem;
                line-height: 3rem;
                text-align: center;
                font-size: 2rem;
                background-color: $main-color;
                border-radius: 50%;
                position: absolute;
                top: 0;
                right: 0;
                transition: background-color linear .2s;
            }

            i {
                font-size: 3.8rem;
            }


            &:hover {
                background-color: $main-color;
                color: $light-color;

                &::before {
                    background-color: $dark-color;
                }
            }
        }

        h4 {
            font-size: 2rem;
            font-weight: 600;
        }

        p {
            font-size: 1.4rem;
        }
    }
}


.footer {
    background-color: $dark-color;
    color: $light-color;

    .social {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        // line-height: 3;
    }

    ul {
        display: flex;
    }

    li {
        margin: 0 1rem;
    }

    a {
        display: inline-block;
        color: $light-color;
        padding: .5rem;
        font-size: 2.6rem;
        transition: transform ease-in-out .2s, color ease-in-out .2s;

        &:hover {
            color: $main-color;
            transform: rotateY(180deg);
        }
    }
}
