@import 'config';
@import 'utils';
@import 'functions';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    background-color: white;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}


// Logo
#logo {
    width: 7rem;
    height: 7rem;
}

// Nav
.nav-container {
    position: relative;
    width: 100%;
}
#main-nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;

    ul {
        display: flex;
    }

    li {
        margin: 0 1.5rem;
    }

    a {
        color: #fff;
        font-size: 1.8rem;
        text-transform: uppercase;
        display: inline-block;
        padding: 0.5rem 0.2rem;
        position: relative;

        &::before {
            content: '';
            width: 100%;
            height: 2px;
            background-color: $medium-color;
            position: absolute;
            bottom: 0;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform ease .2s;
        }

        &:not(current):hover::before {
            transform: scaleX(1);
        }



        &.current::before {
         transform: scaleX(1); 
         background-color: $main-color;  
        }
    }
}

// Header

#header {
    // Home header
    &-home {
        background: $bg-image no-repeat center right / cover;
        height: 100vh;
        color: white;

        // Header Content
        .header-content {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            h1 {
                font-size: 8rem;
                line-height: 1.2;
            }

            .lead {
                font-size: 4rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }

            a {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }

    &-inner {

    }
}